body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#musica-selecionada {
    flex-basis: 60%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#lista-musicas {
    flex-basis: 35%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#acorde {
    font-weight: bold;
    color: #c0392b;
    position: relative;
    top: -10px;
    margin-right: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #eee;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: background-color 0.3s;
}

ul li:hover {
    background-color: #ddd;
}

h3 {
    margin-bottom: 10px;
}
